<?xml version="1.0" encoding="utf-16"?>
<VirtualRobotListConfig>
  <StepWithSecond>0.5</StepWithSecond>
  <RobotMoveLimit>5.0</RobotMoveLimit>
  <VirtualCameraPictureWidth>200</VirtualCameraPictureWidth>
  <VirtualCameraPictureHeight>180</VirtualCameraPictureHeight>
  <VirtualCameraHintTextFontName>宋体</VirtualCameraHintTextFontName>
  <VirtualCameraHintTextFontSize>16</VirtualCameraHintTextFontSize>
  <MQTTServerIP>47.104.7.244</MQTTServerIP>
  <MQTTServerPort>61613</MQTTServerPort>
  <IsTlsModeLoginMQTT>false</IsTlsModeLoginMQTT>
  <VirtualCameraCount>2</VirtualCameraCount>
  <RobotList>
    <VirtualRobotConfig>
      <VirtualRobotId>testBoat2</VirtualRobotId>
      <VirtualRobotName>Boat2</VirtualRobotName>
      <EnabledPosSensor>true</EnabledPosSensor>
      <EnabledCameraSensor>true</EnabledCameraSensor>
      <EnabledMQTTControlTaskStartAndStop>true</EnabledMQTTControlTaskStartAndStop>
      <DefaultQosLevels>AQ==</DefaultQosLevels>
      <ListenSubject>shore2boat/2</ListenSubject>
      <CommandSendSubject>boat2shore/2</CommandSendSubject>
      <PictureSendSubject>picture2shore/2</PictureSendSubject>
      <MQTTUser>boat_2</MQTTUser>
      <MQTTPassword>boat_2_password</MQTTPassword>
      <DefaultLat>19.766703551717</DefaultLat>
      <DefaultLng>131.11083984375</DefaultLng>
    </VirtualRobotConfig>
   <VirtualRobotConfig>
      <VirtualRobotId>testBoat3</VirtualRobotId>
      <VirtualRobotName>Boat3</VirtualRobotName>
      <EnabledPosSensor>true</EnabledPosSensor>
      <EnabledCameraSensor>true</EnabledCameraSensor>
      <EnabledMQTTControlTaskStartAndStop>true</EnabledMQTTControlTaskStartAndStop>
      <DefaultQosLevels>AQ==</DefaultQosLevels>
      <ListenSubject>shore2boat/3</ListenSubject>
      <CommandSendSubject>boat2shore/3</CommandSendSubject>
      <PictureSendSubject>picture2shore/3</PictureSendSubject>
      <MQTTUser>boat_3</MQTTUser>
      <MQTTPassword>boat_3_password</MQTTPassword>
      <DefaultLat>31.5223614704214</DefaultLat>
      <DefaultLng>148.9306640625</DefaultLng>
    </VirtualRobotConfig>
   <VirtualRobotConfig>
      <VirtualRobotId>testBoat4</VirtualRobotId>
      <VirtualRobotName>Boat4</VirtualRobotName>
      <EnabledPosSensor>true</EnabledPosSensor>
      <EnabledCameraSensor>true</EnabledCameraSensor>
      <EnabledMQTTControlTaskStartAndStop>true</EnabledMQTTControlTaskStartAndStop>
      <DefaultQosLevels>AQ==</DefaultQosLevels>
      <ListenSubject>shore2boat/4</ListenSubject>
      <CommandSendSubject>boat2shore/4</CommandSendSubject>
      <PictureSendSubject>picture2shore/4</PictureSendSubject>
      <MQTTUser>boat_4</MQTTUser>
      <MQTTPassword>boat_4_password</MQTTPassword>
      <DefaultLat>22.4110285215587</DefaultLat>
      <DefaultLng>149.83154296875</DefaultLng>
    </VirtualRobotConfig>
  </RobotList>
</VirtualRobotListConfig>